/* Custom */
.main-color-bg {
  background-color: #b82bdb !important;
  border-color: #41124d !important;
  color: #ffffff !important;
}

/* Header */
#header {
  background: #333333;
  color: #ffffff;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

#header .create {
  padding-top: 20px;
}

/* Breadcrumb */
.breadcrumb {
  background: #cccccc;
  color: #333333;
}

.breadcrumb a {
  color: #333333;
}

/* Progress Bars */
.progress-bar {
  background: #333333;
  color: #ffffff;
}

.dash-box {
  text-align: center;
}

#login {
  margin-top: 30px;
}

.cBody > div.card.card-default > div.card-heading {
  padding: 6px 0px 0px 15px;
}


//*[@id="main"]/div/div/div[1]/div/button
.list-group button{
  
  text-align: left;
  padding: 1rem;

}

button .icon {
  width: 15%;
  height: 5%;
}

@media only screen and (max-width: 765px) {
  .cBody {
    margin-top: 3%;
  }
}
